<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Malevolent Shrine</title>
  </head>
  <body>
    <form action="/todo/edit/<%= todo._id %>" method="post">
      <input type="text" name="todo" value="<%= todo.title %>" />
      <input type="submit" value="Update" />
    </form>
  </body>
</html>
